<header id="hero" class="hero overlay">
    <nav class="navbar">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="fa fa-bars"></span>
                </button>
                <a href="/index.html" class="brand">
                    <img src="{{ '/assets/images/logo.png' | relative_url }}" alt="tunack" width="50px">
                </a>
            </div>
            <div class="navbar-collapse collapse" id="navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    {% include edit-this-page.html %}
                    <li>
                        <a href="{{ site.contact.github }}" class="btn btn-success nav-btn"><i class="fab fa-github"></i>&nbsp;&nbsp;Github project</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="masthead single-masthead">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1>{{ site.name | capitalize }}</h1>
                    <p class="lead text-muted">{{  site.description }}</p>
                </div>
            </div>
        </div>
    </div>
</header>
